.Container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Board {
  width: 625px;
  height: 625px;
  margin: auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Cell { 
  outline: 1px solid grey;
  width: 25px;
  height: 25px;
}

.Win {
  background-color: yellow;
}

.Wall {
  background-color: black;
}

.Occupied {
  background-color: hsl(random(360), 100, 50);
}

.Me {
  background-color: Blue;
}
